<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="../Controllers/controllerCaminhao.php" method="POST">
    <Label for="">Placa: </Label>
    <input type="text" name="placa" value=""><br>
    <Label for="">Numero do Chassi: </Label>
    <input type="text" name="numchassi" value=""><br>
    <Label for="">Cor: </Label>
    <input type="text" name="cor" value=""><br>
    <Label for="">Ano: </Label>
    <input type="text" name="ano" value=""><br>
    <Label for="">Marca: </Label>
    <input type="text" name="marca" value=""><br>
    <Label for="">Modelo: </Label>
    <input type="text" name="modelo" value=""><br>
    <Label for="">Peso Maximo: </Label>
    <input type="number" name="pesomaximo" value=""><br>
    <Label for="">Preço: </Label>
    <input type="number" name="preco" value=""><br>
    <Label for="">Numero de Rodas: </Label>
    <input type="number" name="numrodas" value=""><br>
    <Label for="">Quantidade de Eixos: </Label>
    <input type="number" name="quantidadeeixo" value=""><br>
    <input type="submit" value="Enviar">
</form>
</body>
</html>
